<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="stdout" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="/app/logs/log_tester/bigdata-log-tester.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,sss}  |%p | %t | %m | %l%n"/>
        </layout>
    </appender>

    <appender name="sysLogger" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="/app/logs/log_tester/system.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}-%p %t %c - %m%n"/>
        </layout>
    </appender>

    <appender name="errorLogger" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="/app/logs/log_tester/error.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss},%m%n"/>
        </layout>
    </appender>

    <appender name="consumerMessageStat" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="/app/logs/log_tester/consumerMessageStat.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss},%m%n"/>
        </layout>
    </appender>

    <appender name="producerMessageStat" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="/app/logs/log_tester/producerMessageStat.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss},%m%n"/>
        </layout>
    </appender>

    <logger name="consumerMessageStatLogger" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="consumerMessageStat"/>
    </logger>

    <logger name="producerMessageStatLogger" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="producerMessageStat"/>
    </logger>

    <logger name="errorLogger" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="errorLogger"/>
    </logger>

    <logger name="com.kuaidadi" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="sysLogger"/>
    </root>
</log4j:configuration> 